@model int

@{
    ViewData["Title"] = "Processing";
}

<h2 id="beingProcessed">Your website request is being processed...</h2>

<div class="alert alert-success" style="display: none">
    <strong>Success!</strong> Your website has been processed.
</div>

@section Scripts{
    <script>
        var websiteId = '@Model';
        $(document).ready(function() {
            var check = function() {
                $.ajax({
                    url: '/Website/IsDone/' + websiteId,
                    cache: false
                }).done(function(isDone) {
                    if (isDone) {
                        $('#beingProcessed').hide();
                        $('.alert-success').show();
                    } else {
                        setTimeout(check, 1000);
                    }
                });
            };

            check();
        });
    </script>
}